In [1]:
#IN THIS NOTEBOOK WE WILL GO THROUGH STRINGS

In [2]:
first = "hello"
last = "world"

In [4]:
type(first) #type of variable

str

In [5]:
name = first + last #addition of 2 strings
name

'helloworld'

In [6]:
name[0] #location or index of a character ( index always starts with 0 )

'h'

In [7]:
name[4] #location or index of character

'o'

In [8]:
name[2:7] #slicing in python is retriving the specific characters by given their specific index

'llowo'

In [9]:
name[0:3] #slicing in python is retriving the specific characters by given their specific index

'hel'

In [19]:
name[:]

'helloworld'

In [20]:
name[-1] #it will retrive characters from last word

'd'

In [21]:
len(name) #it will give length of the string

10

In [13]:
food = " samosa , jalebi "
food

' samosa , jalebi '

In [15]:
'jalebi' in food #it returns either true or false depending upon the wheather a substance is present or not

True

In [23]:
food_review = "samosa and jalebi were amazing but my most favourite food is burger \ni also like soft drinks like mojito or soda"
print(food_review) # \n is used for new line character . From there sentence will start from new line nut in this case u have to use print statement

samosa and jalebi were amazing but my most favourite food is burger
i also like soft drinks like mojito or soda

In [24]:
bill = " i was charged $100 for my food"
bill

' i was charged $100 for my food'

In [27]:
bill = bill.replace ("$100", "$50") #if i want to change something specific in my string i can use variablename.replace function 
bill

' i was charged $50 for my food'

In [28]:
bill

' i was charged $50 for my food'

In [34]:
dir(bill) #this are all the functions in python which i can apply on string

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [35]:
bill

' i was charged $50 for my food'

In [36]:
bill.upper() #all the characters was changed to upper case

' I WAS CHARGED $50 FOR MY FOOD'